.sc-select {
  --sc-select-item-hover-bg-color: var(--sc-fill-color-light);
  --sc-select-item-font-size: var(--sc-font-size-base);
  --sc-select-item-font-color: var(--sc-text-color-regular);
  --sc-select-item-selected-font-color: var(--sc-color-primary);
  --sc-select-item-disabled-font-color: var(--sc-text-color-placeholder);
  --sc-select-input-focus-border-color: var(--sc-color-primary);
}

.sc-select {
  display: inline-block;
  vertical-align: middle;
  line-height: 32px;

  .sc-tooltip .sc-tooltip__popper {
    padding: 0;
  }

  .sc-input.is-focus .sc-input__wrapper {
    box-shadow: 0 0 0 1px var(--sc-select-input-focus-border-color) inset !important;
  }

  .sc-input {
    .header-angle {
      transition: transform var(--sc-transition-duration);
      &.is-active {
        transform: rotate(180deg);
      }
    }
  }

  .sc-input__inner {
    cursor: pointer;
  }

  .sc-select__nodata,
  .sc-select__loading {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    color: var(--sc-text-color-secondary);
    font-size: var(--sc-select-font-size);
  }

  .sc-select__menu {
    list-style: none;
    margin: 6px 0;
    padding: 0;
    box-sizing: border-box;
  }

  .sc-select__menu-item {
    margin: 0;
    font-size: var(--sc-select-item-font-size);
    padding: 0 32px 0 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--sc-select-item-font-color);
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      background-color: var(--sc-select-item-hover-bg-color);
    }

    &.is-selected {
      color: var(--sc-select-item-selected-font-color);
      font-weight: 700;
    }

    &.is-highlighted {
      background-color: var(--sc-select-item-hover-bg-color);
    }

    &.is-disabled {
      color: var(--sc-select-item-disabled-font-color);
      cursor: not-allowed;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
