.sc-collapse {
  --sc-collapse-border-color: var(--sc-border-color-light);
  --sc-collapse-header-height: 48px;
  --sc-collapse-header-bg-color: var(--sc-fill-color-blank);
  --sc-collapse-header-text-color: var(--sc-text-color-primary);
  --sc-collapse-header-font-size: 13px;
  --sc-collapse-content-bg-color: var(--sc-fill-color-blank);
  --sc-collapse-content-font-size: 13px;
  --sc-collapse-content-text-color: var(--sc-text-color-primary);
  --sc-collapse-disabled-text-color: var(--sc-disabled-text-color);
  --sc-collapse-disabled-border-color: var(--sc-border-color-lighter);
  border-top: 1px solid var(--sc-collapse-border-color);
  border-bottom: 1px solid var(--sc-collapse-border-color);
}
.sc-collapse-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--sc-collapse-header-height);
  line-height: var(--sc-collapse-header-height);
  background-color: var(--sc-collapse-header-bg-color);
  color: var(--sc-collapse-header-text-color);
  cursor: pointer;
  font-size: var(--sc-collapse-header-font-size);
  font-weight: 500;
  transition: border-bottom-color var(--sc-transition-duration);
  outline: none;
  border-bottom: 1px solid var(--sc-collapse-border-color);
  &.is-disabled {
    color: var(--sc-collapse-disabled-text-color);
    cursor: not-allowed;
    background-image: none;
  }
  &.is-active {
    border-bottom-color: transparent;
    .header-angle {
      transform: rotate(90deg);
    }
  }
  .header-angle {
    transition: transform var(--sc-transition-duration);
  }
}
.sc-collapse-item__content {
  will-change: height;
  background-color: var(--sc-collapse-content-bg-color);
  overflow: hidden;
  box-sizing: border-box;
  font-size: var(--sc-collapse-content-font-size);
  color: var(--sc-collapse-content-text-color);
  border-bottom: 1px solid var(--sc-collapse-border-color);
  padding-bottom: 25px;
}
.slide-enter-active, .slide-leave-active {
  transition: height var(--sc-transition-duration);
}

/* .fade-enter-from, .fade-leave-to{
  opacity: 0;
}
.fade-enter-active,.fade-leave-active{
  transition: opacity var(--sc-transition-duration);
}

.fade-enter-to, .fade-leave-from{
  opacity: 1;
} */

